body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-size: 16px;
}

.container {
    margin: auto;
    display: grid;
    grid: repeat(3, 150px) / repeat(3, 150px);
    border-style: dashed;
    place-content: center;
}
.box {
    border-style: groove;
    cursor: pointer;
}