@font-face {
    font-family: Bebas_Neue;
    src: url(./Bebas_Neue/BebasNeue-Regular.ttf);
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    font-family: Bebas_Neue;
    font-size: 25px;
}

.container {
    margin: auto;
    display: grid;
    grid: repeat(3, 150px) / repeat(3, 150px);
    place-content: center;
    overflow: hidden;
}
.box {
    background-color: white;
    border-style: solid;
    cursor: pointer;
    font-size: 8rem;
    text-align: center;
    border-color: black;
}

.box:nth-child(1), .box:nth-child(4), .box:nth-child(7){
    border-left: none;
}

.box:nth-child(3), .box:nth-child(6), .box:nth-child(9){
    border-right: none;
}

.box:nth-child(1), .box:nth-child(2), .box:nth-child(3){
    border-top: none;
}

.box:nth-child(7), .box:nth-child(8), .box:nth-child(9){
    border-bottom: none;
}

form button, .restart, .close {
    border-inline-width: none;
    border: none;
    background-color: black;
    color: white;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
}

form button{
    margin-left: 10px;
    padding: 5px 5px;
}

.title {
    padding-left: 20px;
}

.title, label {
    font-size: 1.2em;
}

dialog::backdrop {
    opacity: .7;
    background-color: whitesmoke;
}

.inputs {
    display: flex;
    align-items: center;
    gap: 10px;
}

form p {
    margin-top: 0;
}

.current-player {
    position: absolute;
    left: 38%;
    top: 13%;
    font-size: .9em;
}

.results {
    min-width: 175px;
    text-align: center;
}

footer {
    padding-bottom: 10px;
    text-align: center;
}

input, .close, .restart {
    font-size: 100%;
    font-family: inherit;
}

input {
    border-color: black;
    border-style: solid;
}
